<div class="container mt-5">
    <div class="row g-3">
        <div class="col-md-3 cover">
            <img src={{data.image}} alt="cover image" height="300px">
        </div>

        <div class="col-md-6 details">
            <div>
                <span> {{data.title}}</span>
                <input class="valueField" *ngIf="editMode && acc.checkAdmin()" [(ngModel)]="editData.title" placeholder="new Title">
            </div>

            <div>
                <span>Author : {{data.author}}</span>
                <input class="valueField"  *ngIf="editMode && acc.checkAdmin()" [(ngModel)]="editData.author" placeholder="Changed Author">
            </div>
            <div>
                <span> Publisher {{data.publisher}}</span>
                <input class="valueField"  *ngIf="editMode && acc.checkAdmin()" [(ngModel)]="editData.publisher"
                    placeholder="new Publisher">
            </div>

            <div>
                <span >total reviews: {{data.reviews}}</span>
                <input class="valueField"  *ngIf="editMode && acc.checkAdmin()" [(ngModel)]="editData.reviews"
                    placeholder="improved review count">
            </div>

            <div>
                <span>$ {{data.price}}</span>
                <input class="valueField"  *ngIf="editMode && acc.checkAdmin()" [(ngModel)]="editData.price" placeholder="new price">
            </div>

            
            <div>
                <p>About the Book</p>
                <span>{{data.description}}</span>
            </div>
            <textarea class="valueField" rows="5" cols="50" *ngIf="editMode && acc.checkAdmin()" [(ngModel)]="editData.description"
                    placeholder="new description"></textarea>
            <div>
                <span>{{data.pages}}</span>
                <input class="valueField"  *ngIf="editMode && acc.checkAdmin()" [(ngModel)]="editData.pages" placeholder="pages count">
            </div>

            <div>
                <span>{{data.published}}</span>
                <input class="valueField"  *ngIf="editMode && acc.checkAdmin()" [(ngModel)]="editData.published"
                    placeholder="date published">
            </div>
 
        </div>
        <div class="col-md-3 addButton">
            <div class=" addBtn ">
                <button (click)="addToCart(data)" [disabled]="isAdded"
                    [ngClass]="isAdded ? 'btn btn-success' : 'btn btn-warning'">
                    {{ isAdded ? 'Added to cart' : 'Add to cart' }}
                </button>
                <br>
                <button *ngIf="isAdded" style="margin-top: 10px;" class="btn btn-warning" (click)="goToCart()">Go to cart</button>
            </div>
            <div *ngIf="acc.checkAdmin()" class="adminBtn">
                <button *ngIf="!editMode" class="btn btn-primary" (click)="editMode=true">Edit</button>
                <button *ngIf="editMode" class="btn btn-success" (click)="showModal=true">Save</button>
                <button *ngIf="editMode" class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- confirmation modal -->
 <div class="modal-backdrop" *ngIf="showModal">
    <div class="modal-dialog" >
        <h5>
            Confirm Save
        </h5>
        <p>Are you sure you ant to save these changes? It cannot be reversed!</p>
        <div class="modalBtn"><button class="btn btn-success save" (click)="confirmSave()">Save</button>
        <button class="btn btn-danger cancel" (click)="showModal=false">Cancel</button></div>
        
    </div>
 </div>