.cover img{
    width: 100%;
    // width:100%
}
.addButton{
    display: flex;
    justify-content: center;
    align-items: center;
    // .addBtn{
    //     margin: auto;
    // }
}
.details{
    // margin: auto;
    padding-left: 4%;
}
