
<div class="homeContent">
<h1>Discover your Next Favourite Book!</h1>
 <p>Explore bestsellers, new arrivals, and timeless classics.</p>
</div>
<div class="featured">
    <h3>Check Out our Featured Books</h3>
    <div class="container">
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let book of data | slice:0:3">
            <div class="card">
                <div class="card-image mt-3">
                    <img src={{book.image}} alt="cover-image" height="200px" (click)="getBookDetails(book.id)" >
                </div>
                <div class="card-title">
                    {{book.title}}
                </div>
                <div class="card-body">
                    <p>{{book.author}}</p>
                    <p>publisher: {{book.publisher  }}</p>
                    <p>$ {{book.price}}</p>
                    <div class=" addBtn mt-auto">
                        <button type="button" class="btn btn-warning" (click)="getBookDetails(book.id)">
                            View Details
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="viewMore">
    <button type="button" class="btn btn-success" (click)="goLibrary()">View More</button>
</div>
