.empty{
    text-align: center;
    font-size: 4rem;
    color: #888;
    margin: 2rem 0;
    font-weight: bold;
}
.buy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-success{
    
}